- Recency: 마지막 구매일이 언제 인가
- Frequency: 얼마나 자주 구매했는가
- Monetary: 구매 금액이 얼마나 되는가

# 1.데이터 로드

In [46]:
import pandas as pd

data = pd.read_csv("data/CDNOW_master.txt",header = None, names = ['cid','pdate','numCDs','amount'])

data.head(3)

   cid     pdate  numCDs  amount
0    1  19970101       1   11.77
1    2  19970112       1   12.00
2    2  19970112       5   77.00

# 2.데이터 정제

날짜 정제

In [51]:
data['pdate'] = pd.to_datetime(data['pdate'], format = "%Y%m%d")

data.sample(3)

         cid      pdate  numCDs  amount
55893  18626 1997-03-06       1   15.96
1464     424 1997-06-24       1   31.03
48572  15999 1997-03-01       2   23.48

# 3.고객 유지율 표

In [59]:
data['date'] = data['pdate'].apply(lambda x: x.strftime('%Y-%m'))

data.sample(3)

         cid      pdate  numCDs  amount     date
69514  23507 1997-08-12       1   15.36  1997-08
62366  20973 1997-03-15       2   20.74  1997-03
7043    2194 1997-05-09       2   16.56  1997-05

In [65]:
data.groupby(['date','cid']).count().count()

pdate     55379
numCDs    55379
amount    55379
dtype: int64

[알엠에프](https://statkclee.github.io/ml/ml-pm-applications.html) <br>
[코호트](http://www.gregreda.com/2015/08/23/cohort-analysis-with-python/)